<html ng-app="snullApp">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
</head>

<body ng-controller="mainCtrl">
  <div class="container">
    <h2>Aktuelle Zählerdaten</h2>
    <p>Impulse an S0-Schnittstelle</p>
    <table class="table table-striped">
      <thead>
        <th>Impusle in 10 Sekunden
        </th>
        <th>Impusle in 1 Minute
        </th>
        <th>Impusle in 5 Minuten
        </th>
        <th>Impusle in 15 Minuten
        </th>
      </thead>
      <tbody>
        <tr>
          <td>{{time_10_sec | date:'MM.dd.yyyy HH:mm:ss'}}</td>
          <td>{{time_01_min | date:'MM.dd.yyyy HH:mm'}}</td>
          <td>{{time_05_min | date:'MM.dd.yyyy HH:mm'}}</td>
          <td>{{time_15_min | date:'MM.dd.yyyy HH:mm'}}</td>
        </tr>
        <tr>
          <td>{{value_10_sec}}</td>
          <td>{{value_01_min}}</td>
          <td>{{value_05_min}}</td>
          <td>{{value_15_min}}</td>
        </tr>
        <tr>
          <td>{{value_10_sec * 6 * 60 / 1000 * factor | number : 1}} kW</td>
          <td>{{value_01_min * 60 / 1000 * factor | number : 1}} kW</td>
          <td>{{value_05_min * 12 / 1000 * factor | number : 1}} kW</td>
          <td>{{value_15_min * 4 / 1000 * factor | number : 1}} kW</td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label>Wandlerfaktor:</label>
      <input type="text" class="form-control" ng-model="factor">
    </div>
    
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <script type="text/javascript">
	var app = angular.module('snullApp',[]);

        
	app.controller('mainCtrl', function($scope, $http) 
	{
		$scope.factor = 1;
		$http.get('/api/values').then(
				function(response)
				{
					var data = response.data;
					$scope.value_10_sec = data.value_10_sec;
					$scope.value_01_min = data.value_01_min;
					$scope.value_05_min = data.value_05_min;
					$scope.value_15_min = data.value_15_min;
					$scope.time_10_sec = new Date(data.time_10_sec * 1000 + 500);
					$scope.time_01_min = new Date(data.time_01_min * 1000);
					$scope.time_05_min = new Date(data.time_05_min * 1000);
					$scope.time_15_min = new Date(data.time_15_min * 1000);

				},
			function(response){});


		setInterval(function(){
      
			$http.get('/api/values').then(
				function(response)
				{
					var data = response.data;
					$scope.value_10_sec = data.value_10_sec;
					$scope.value_01_min = data.value_01_min;
					$scope.value_05_min = data.value_05_min;
					$scope.value_15_min = data.value_15_min;
					$scope.time_10_sec = new Date(data.time_10_sec * 1000);
					$scope.time_01_min = new Date(data.time_01_min * 1000);
					$scope.time_05_min = new Date(data.time_05_min * 1000);
					$scope.time_15_min = new Date(data.time_15_min * 1000);
				},
			function(response){});
		},3000);
		  
	});

  </script>
</body>

</html>